<a href="/interior">
<div class = product_tab>
    <div class="hori">
        <div class="house_and_owner" z-index="0">
            <img src="data:{{houseIMGType}}; base64, {{houseBuffer}}" width="300px" height="300px">
            <img class="houselist_owner" src="data:{{dpIMGType}}; base64, {{dpBuffer}} "  style="border-radius: 50%;" >
        </div>
    </div>
    
    <hr class="separator">

    <div class="hori" style="justify-content:space-between">
    <div class="vert" style="justify-content: space-between;">
            <p style="color:black; margin-top: 5px; margin-bottom:-10px; font-size:30px; font-weight:700;">{{displayName}} </p>
            <p style="color:rgb(78, 78, 78); margin-top: 5px; margin-bottom:-10px; font-size:20px; font-weight:500;">@{{username}} </p>
    </div>
        <div class="vert" style="justify-content: space-between;">
            <p style="color:black; margin-top: 5px; margin-bottom:-10px; font-size:30px; font-weight:300;">Cost: </p>
            <p style="color:rgb(78, 78, 78); margin-top: 5px; margin-bottom:-10px; font-size:20px; font-weight:300;">{{pointCost}} points </p>
    </div>
    </div>

</div>
</a>