<div class="navbar" style="margin-top: {{topmargin}}px;     background-color:{{backgroundcolor}};">
    <div class="hori">
        <div class="vert">
            <div style="padding-left: 20px;     text-shadow: 0 0 12px #000000; margin-top: 20px; margin-bottom:10px; font-size:35px; font-weight:500;">
                <a href="/">WEBTOWN</a>
            </div>


            {{#if session.loggedIn}}
            <div class=" hori">
                <img src="data:{{session.dpType}};base64, {{session.dpBuffer}}" style="border-radius: 52px; width:60px; margin-left: 10px;">
                <a href="/profile?id={{session.username}}" style="padding-left: 5px;     text-shadow: 0 0 12px #000000; margin-top: 18px; margin-bottom:10px; font-size:28px; font-weight:400;">@{{session.username}}</a>
            </div>
            {{/if}}


            {{#if session.loggedIn}}
            <div class="navbarText">
                <a href="/profile?id={{session.username}}">My Profile</a>
            </div>
            {{/if}}

            {{#unless session.loggedIn}}
            <div class="navbarText">
                <a href="/login">Login</a>
            </div>
            {{/unless}}

            {{#unless session.loggedIn}}
            <div class="navbarText">
                <a href="/register">Register</a>
            </div>
            {{/unless}}

            <div class="navbarText">
                <a href="/houselist">Houses</a>
            </div>

            <div class="navbarText">
                <a href="/productlist">Products</a>
            </div>
            
            {{#if session.loggedIn}}
            <div class="navbarText">
                <a href="/logout">Logout</a>
            </div>
            {{/if}}
        </div>
        <!-- <div style="position: absolute; height: 100%; width:25px; background:rgb(255, 208, 0); margin-left:225px;"></div> -->
    </div>
</div>